h3 {
  font-size: 24px;
  font-weight: 600;
}
h1 {
  font-size: 58px;
  font-weight: 800;
}
h2 {
  font-weight: 700;
  font-size: 40px;
}

h4 {
  font-size: 20px;
  font-weight: 500;
}
h5 {
  font-weight: 300;
  font-size: 16px;
}
h6 {
  font-size: 14px;
  font-weight: 200px;
}

.home_navbar a {
  text-decoration: none;
  font-weight: 700;
}

.lower_features > p > a {
  color: #ed563b;
  text-decoration: none;
}

.lower_features > p > a:hover {
  color: #6b1607;
}

@media only screen and (min-width: 800px) {
  .upper_features {
    width: 100%;
  }
  .top_header {
    padding-bottom: 17em;
  }
  .upper_features > ul > li:nth-child(odd) {
    width: 45%;
    float: left;
  }
  .upper_features > ul > li:nth-child(even) {
    width: 45%;
    float: right;
  }
  .lower_features {
    width: 70%;
  }
  .lower_features > h2 {
    padding-bottom: 0.5em;
  }
  .out_weed {
    width: 80%;
  }
  .footer_coloum {
    float: left;
    width: 20%;
    overflow: hidden;
  }
}

@media only screen and (min-width: 1200px) {
  .container1 {
    width: 1200px;
  }
  .icon {
    display: none;
  }
  .top_header {
    padding-bottom: 15rem;
  }
  .top_header {
    padding-bottom: 25em;
  }

  .home_navbar {
    clear: none;
    float: left;
    margin-left: 10rem;
  }
  .home_navbar > ul > li {
    float: left;
  }
  .login {
    display: block;
    float: right;
  }
  .login > button {
    display: block;
    margin-right: 2rem;
    padding: 0.5rem 0.5rem;
    background: inherit;
    border: 1px solid black;
    border-radius: 5px;
    font-weight: 600;
  }
  .login > button:hover {
    color: white;
    background-color: black;
  }
  .mid_header {
    margin-top: 7rem;
    text-align: center;
  }
  .lower_header {
    margin-top: 7rem;
  }
  .upper_features {
    width: 100%;
  }

  .upper_features > ul > li:nth-child(odd),
  .upper_features > ul > li:nth-child(even) {
    margin-bottom: 0em;
    float: left;
    width: 25%;
    margin-left: 9.3em;
  }

  .upper_features > ul > li > img {
    padding-bottom: 1em;
  }

  .upper_features > ul > li:first-child {
    margin-left: 0em;
  }

  .lower_features {
    width: 70%;
  }
  .lower_features > h2 {
    padding-bottom: 0.5em;
  }
  .out_weed {
    width: 80%;
  }
  .footer_coloum > ul > li {
    text-align: left;
  }
  .footer_coloum {
    width: 15%;
    margin-left: 8%;
  }
  div.footer_coloum:nth-child(1) {
    margin-left: 0;
  }
  div.footer_coloum:last-child {
    float: right;
    margin-left: 0%;
    width: 10%;
  }
}
